DATABASE_URL=
BETTER_AUTH_URL=http://localhost:8888
#  Run (npx @better-auth/cli@latest secret) to generate a new secret  
BETTER_AUTH_SECRET=

# Social Providers
    # Google
    GOOGLE_CLIENT_ID=
    GOOGLE_CLIENT_SECRET=
    # Facebook
    FACEBOOK_CLIENT_ID=
    FACEBOOK_CLIENT_SECRET=